
@media(max-width:76.87em){ //1230px
    html{
        font-size:56.25% ;
    }
}
@media(max-width:68.75em){ //1100px
 
   .updates-notify__subscribe{
       width: 100%;
       margin: 0 auto;
       text-align: center;
       margin-bottom: 3rem;
   }
   .updates-notify__text{
    text-align: center;
   }
   .upadates-notify__video{
       margin: 0 auto;
       width: 70%;
   }
}
@media(max-width:56.25em){  //900px
    .hero {
        background-image: url(../img/hero_bg-small.png);
    }
   .features__card{
       width: 30%;
   }
}
@media(max-width: 45em){ //720px
   .features__cards{
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
   }
      .features__card{
       width: 100%;
       margin-bottom: 2rem;
   }
}
@media(max-width: 37.5em){ //568px
    .hero{
        padding-bottom:9.3rem;
    }
    .hero__text{
        text-align: center;
    }
    .hero__img{
        display: none;
    }
    .hero__download{
        justify-content: center;
    }

    .footer__nav-list{
        max-height: 80px;
          flex-direction: column; 
        flex-wrap: wrap
    }

}