.bold{
    font-weight: bold;
}

.title {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: $titleColor;
}
.text{
font-size: 1.6rem;
line-height: 2.6rem;
color: inherit;
}
