$mainTextColor:#696969;
$titleColor:#111111;
$whiteFont: #ffffff;
$placeholderColor:#B7B7B7;
$featuresCircle:#2ECC71;
$updatesColor:#DAE0E5;
$citeColor:#111111;
$contractCircle:#C4C4C4;
$footerColor:$updatesColor;
$overlayColor:$featuresCircle;